In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd() 
folder_path = os.path.join(cwd, 'Data')

In [3]:
schema1_file_name = 'schema_1_ontario_final.csv' 
schema2_file_name = 'schema_2_ontario_final.csv' 
schema3_file_name = 'schema_3_ontario_final.csv'

In [4]:
df_schema1 = pd.read_csv(os.path.join(folder_path, schema1_file_name))
df_schema2 = pd.read_csv(os.path.join(folder_path, schema2_file_name))
df_schema3 = pd.read_csv(os.path.join(folder_path, schema3_file_name))

In [5]:
print(df_schema1.shape)
print(df_schema2.shape)
print(df_schema3.shape)

(263639, 12)
(14932, 17)
(15534, 26)

In [6]:
print (df_schema2.columns.symmetric_difference(df_schema1.columns))

Index(['age_1', 'conditions', 'ethnicity', 'needs', 'over_60', 'sex',
       'symptoms'],
      dtype='object')

In [7]:
df_schema1.head(5)

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,n,n,y,n,n,n,n,n,n,n
1,13,P1H,y,y,y,n,n,n,y,y,n,y
2,14,N2J,n,y,y,n,n,n,y,n,n,n
3,13,N1G,n,n,y,n,n,n,n,n,n,n
4,13,M1P,n,y,n,n,n,n,n,y,n,n

In [8]:
df_schema1.columns

Index(['week', 'fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath', 'over_60',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness'],
      dtype='object')

In [9]:
df_schema1.dtypes

week                       int64
fsa                       object
probable                  object
vulnerable                object
is_most_recent            object
fever_chills_shakes       object
cough                     object
shortness_of_breath       object
over_60                   object
any_medical_conditions    object
travel_outside_canada     object
contact_with_illness      object
dtype: object

In [10]:
df_schema1.shape[1]

12

In [11]:
df_schema2.head(5)

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,15,M1P,n,n,y,n,n,n,y,n,n,NaN,NaN,NaN,m,NaN,45-64
1,16,N2P,n,y,y,n,n,n,y,n,n,runnyNose,highBloodPressure,asian,m,other,45-64
2,16,N2P,n,y,n,n,n,n,y,n,n,NaN,highBloodPressure,asian,m,other,45-64
3,16,M4P,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,16,L4N,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44

In [12]:
df_schema2.columns

Index(['week', 'fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness', 'symptoms', 'conditions', 'ethnicity', 'sex',
       'needs', 'age_1'],
      dtype='object')

In [13]:
df_schema2.dtypes

week                       int64
fsa                       object
probable                  object
vulnerable                object
is_most_recent            object
fever_chills_shakes       object
cough                     object
shortness_of_breath       object
any_medical_conditions    object
travel_outside_canada     object
contact_with_illness      object
symptoms                  object
conditions                object
ethnicity                 object
sex                       object
needs                     object
age_1                     object
dtype: object

In [14]:
df_schema2.shape[1]

17

In [15]:
df_schema3.columns

Index(['month', 'fsa', 'probable', 'vulnerable', 'fever_chills_shakes',
       'cough', 'shortness_of_breath', 'any_medical_conditions',
       'travel_outside_canada', 'contact_with_illness', 'contact_in_household',
       'tested', 'covid_results_date', 'covid_positive', 'symptoms',
       'conditions', 'ethnicity', 'sex', 'needs', 'age_1',
       'mental_health_impact', 'travel_work_school', 'self_isolating',
       'media_channels', 'financial_obligations_impact', 'tobacco_usage'],
      dtype='object')

In [16]:
df_schema3.dtypes

month                           object
fsa                             object
probable                        object
vulnerable                      object
fever_chills_shakes             object
cough                           object
shortness_of_breath             object
any_medical_conditions          object
travel_outside_canada           object
contact_with_illness            object
contact_in_household            object
tested                          object
covid_results_date              object
covid_positive                  object
symptoms                        object
conditions                      object
ethnicity                       object
sex                             object
needs                           object
age_1                           object
mental_health_impact            object
travel_work_school              object
self_isolating                  object
media_channels                  object
financial_obligations_impact    object
tobacco_usage                   object
dtype: object

In [17]:
df_schema3.shape[1]

26

In [24]:
df_merged_csv = pd.concat([df_schema1,df_schema2,df_schema3], ignore_index=True, sort=False)

In [25]:
df_merged_csv

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,13.0,L4C,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13.0,P1H,y,y,y,n,n,n,y,y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.0,N2J,n,y,y,n,n,n,y,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.0,N1G,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13.0,M1P,n,y,n,n,n,n,n,y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294100,NaN,M6P,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294101,NaN,K1R,n,n,NaN,n,n,n,NaN,y,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294102,NaN,M4M,n,n,NaN,n,n,n,NaN,y,...,NaN,y,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
294103,NaN,M6P,n,y,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
294104,NaN,K2H,n,n,NaN,n,n,n,NaN,y,...,NaN,n,NaN,NaN,negatively,stillTravelEssential,y,NaN,NaN,n

In [28]:
df_merged_csv.to_csv("covid19_AllSchemaData", encoding='utf-8', index=False)

TypeError: NDFrame.to_csv() got an unexpected keyword argument 'low_memory'

In [30]:
df_covid19_AllSchemaData = pd.read_csv(os.path.join(cwd, "covid19_AllSchemaData"), low_memory = False)

In [31]:
df_covid19_AllSchemaData.shape

(294105, 29)