In [1]:
# Importing the libraries
import pandas as pd
import numpy as np
import os
# Ignore all warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
cwd = os.getcwd() 
folder_path = os.path.join(cwd, 'RawData')

In [3]:
# reading csv files and storing as a dataframe
df_abgevents = pd.read_csv(os.path.join(folder_path,"ABGevents.csv"))
df_calc_death = pd.read_csv(os.path.join(folder_path,"calc_deaths.csv"))
df_culture_events = pd.read_csv(os.path.join(folder_path,"CultureEvents.csv"))
df_fluid_balance_events = pd.read_csv(os.path.join(folder_path,"FluidBalanceEvents.csv"))
df_hemo=pd.read_csv(os.path.join(folder_path,"HemoEvents.csv"))
df_serology=pd.read_csv(os.path.join(folder_path,"SerologyEvents.csv"))
df_chem=pd.read_csv(os.path.join(folder_path,"ChemistryEvents.csv"))
df_cbc=pd.read_csv(os.path.join(folder_path,"CBCEvents.csv"))

### Calc_Death DataFrame Cleaning:

In [4]:
# Checking the values
df_calc_death.head(5)

    OPO  Year  calc_deaths  calc_deaths_lb  calc_deaths_ub
0  OPO4  2015     3074.575        3026.575        3122.575
1  OPO4  2016     3146.335        3098.335        3194.335
2  OPO4  2017     3163.300        3123.300        3203.300
3  OPO4  2018     3079.760        3039.760        3119.760
4  OPO4  2019     3125.530        3069.530        3181.530

In [5]:
df_calc_death.dtypes

OPO                object
Year                int64
calc_deaths       float64
calc_deaths_lb    float64
calc_deaths_ub    float64
dtype: object

In [6]:
#Checking for duplicates,there are no duplicates in this DataFrame
df_calc_death[df_calc_death.duplicated()]

Empty DataFrame
Columns: [OPO, Year, calc_deaths, calc_deaths_lb, calc_deaths_ub]
Index: []

In [8]:
#OPO 2 data covers Jan 1, 2018 - December 31, 2021 but we have data from 2015 to 2020
df_calc_death.loc[(df_calc_death['Year']<2018) & (df_calc_death['OPO']=='OPO2')]

     OPO  Year  calc_deaths  calc_deaths_lb  calc_deaths_ub
12  OPO2  2015       1596.0          1504.0          1688.0
13  OPO2  2016       1672.0          1564.0          1780.0
14  OPO2  2017       1790.0          1690.0          1890.0

In [11]:
# Dropping the rows for the year 2015,2016,2017 for OPO2.
df_calc_death.drop(df_calc_death[(df_calc_death.Year < 2018) & (df_calc_death.OPO == 'OPO2')].index, inplace=True)

In [12]:
# rounding the calc_deaths column values to 2 decimal places
df_calc_death['calc_deaths'] = df_calc_death['calc_deaths'].round(2)

In [13]:
# rounding the calc_deaths_lb column values to 2 decimal places
df_calc_death['calc_deaths_lb'] = df_calc_death['calc_deaths_lb'].round(2)

In [14]:
# rounding the calc_deaths_ub column values to 2 decimal places
df_calc_death['calc_deaths_ub'] = df_calc_death['calc_deaths_ub'].round(2)

In [15]:
# Verifying the data after cleanup
df_calc_death.head(5)

    OPO  Year  calc_deaths  calc_deaths_lb  calc_deaths_ub
0  OPO4  2015      3074.58         3026.58         3122.58
1  OPO4  2016      3146.34         3098.34         3194.34
2  OPO4  2017      3163.30         3123.30         3203.30
3  OPO4  2018      3079.76         3039.76         3119.76
4  OPO4  2019      3125.53         3069.53         3181.53